{% extends 'adminbase.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1 class="text-black"></h1>
      <ol class="breadcrumb">
        <li><a href="adminhome">Home</a></li>
        <li class="sub-bread"><i class="fa fa-angle-right"></i> Forms</li>
        <li><i class="fa fa-angle-right"></i>New Product</li>
      </ol>
    </div>
    
    <!-- Main content -->
    <div class="content">
      <div  class="d-flex justify-content-center" >
        <div class="col-lg-6">
          <div class="card card-outline ">
            <div class="card-header bg-blue">
              <h5 class="text-white m-b-0">Add here</h5>
            </div>
            <div class="card-body">
              <form action="" method="POST">
                {% csrf_token %}
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="" placeholder="Name" name="name" >
                {% for message in messages %}
                                {%if "productname" in message.tags %}
                                     <p>{{message}}</p>
                                 {%endif%}        
                                {% endfor %}
              </div>
              <div class="form-group">
                <label for="">Email</label>
                <input type="email" class="form-control" id="" placeholder="email" name="email" >
                {% for message in messages %}
                                {%if "productdescription" in message.tags %}
                                     <p>{{message}}</p>
                                 {%endif%}        
                                {% endfor %}
              </div>
              <div class="form-group">
                <label for="">Mobile number</label>

                <input type="text" class="form-control" id="" placeholder="mobile number" name="mobile_number" >
                {% for message in messages %}
                                {%if "productdescription" in message.tags %}
                                     <p>{{message}}</p>
                                 {%endif%}        
                                {% endfor %}
              </div>
              <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control" id="" placeholder="password" name="password" >
                {% for message in messages %}
                                {%if "productdescription" in message.tags %}
                                     <p>{{message}}</p>
                                 {%endif%}        
                                {% endfor %}
              </div>
            

              <div class="form-group">
                <label for="">Department</label>
                <!-- <input type="text" class="form-control" id="" placeholder="Category" name="category" > -->
                <div class="form-group">
                  <select class="form-control" name="department">
                    {% for dep in departments %}
                    <option value="{{dep.id}}" >{{dep.Name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" id="" placeholder="role" name="role" >
                {% for message in messages %}
                                {%if "productname" in message.tags %}
                                     <p>{{message}}</p>
                                 {%endif%}        
                                {% endfor %}
              </div>
              
              
              
              
              
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
            </div>
          </div>
        </div>
      </div>
      
    <!-- /.content --> 
  </div>
  <!-- /.content-wrapper -->
  
  {% endblock %}
